In [1]:
import pandas as pd
import sqlite3 as db
import numpy as np

import datetime
from datetime import datetime, timedelta, date

In [2]:
def rental_availability():
    '''
    Joins the LuxuryAPI, Regular API, Kaggle CSV, and the Webscraping events into one query. It then returns rental availability
    and an event schedule based on the date provided. 

    Inputs:

    LuxuryAPI table
    AllCarsAPI table
    API table
    Kaggle table
    WebScrape table
    LargeEvents table    

    Returns:

    A single query with rental availability
        
    '''

    # YOUR CODE HERE
    conn = db.connect('rentaldb')
    c = conn.cursor()
    query = f'''
        SELECT
            AllCarsAPI.Date_Pickup, AllCarsAPI.Vehicle_Name, Kaggle.Vehicle_Name, COUNT(DISTINCT AllCarsAPI.Vehicle_Name) AS Vehicle_Stock, Kaggle.daily_rate, AllCarsAPI.Price, COUNT(DISTINCT Webscrape.Event) AS Number_Of_Events, COUNT(DISTINCT LargeEvents.Dates) AS Number_OF_Large_Events
            
        FROM 
            AllCarsAPI
            FULL JOIN Kaggle ON AllCarsAPI.Vehicle_Name = Kaggle.Vehicle_Name
            FULL JOIN Webscrape ON AllCarsAPI.Date_Pickup = Webscrape.Dates
            FULL JOIN LargeEvents ON AllCarsAPI.Date_Pickup = LargeEvents.Dates
        GROUP BY 
            AllCarsAPI.Vehicle_Name 
        ORDER BY
            AllCarsAPI.Date_Pickup DESC
            '''
            
    
    #c.execute(query)
    #availability = c.fetchall()
    availabilitydf = pd.read_sql_query(query, conn)
    return availabilitydf

In [3]:
availabilitydf = rental_availability()
display(availabilitydf.head(50))

,Date_Pickup,Vehicle_Name,Vehicle_Name,Vehicle_Stock,daily_rate,Price,Number_Of_Events,Number_OF_Large_Events
0,2022-11-28,GMC Yukon,None,1,NaN,323.32,188,15
1,2022-11-28,Chrysler Pacifica,None,1,NaN,390.56,243,24
2,2022-11-25,Toyota Corolla,None,1,NaN,67.65,276,25
3,2022-11-22,Volkswagen Atlas,None,1,NaN,431.18,287,27
4,2022-11-22,Toyota Tacoma,None,1,NaN,302.20,287,27
5,2022-11-22,Toyota Camry,None,1,NaN,278.06,287,27
6,2022-11-22,Mercedes-Benz GLC,None,1,NaN,380.81,287,27
7,2022-11-22,Mercedes-Benz GLA,None,1,NaN,362.53,287,27
8,2022-11-22,Mazda CX 5,None,1,NaN,301.72,287,27
9,2022-11-22,Land Rover Range Rover Velar,Land Rover Range Rover Velar,1,199.0,417.81,287,27
10,2022-11-22,Jeep Grand Cherokee,None,1,NaN,356.41,287,27
11,2022-11-22,BMW 5 Series,None,1,NaN,349.69,287,27
12,2022-11-22,BMW 3 Series,None,1,NaN,329.44,287,27
13,2022-11-22,BMW 2 Series,None,1,NaN,314.88,287,27
14,2022-11-21,Lincoln Continental,None,1,NaN,143.53,280,25
15,2022-11-21,Hyundai Veloster,None,1,NaN,97.51,280,25
16,2022-11-21,GMC Terrain,None,1,NaN,121.83,280,25
17,2022-11-21,Chrysler 300,None,1,NaN,133.76,280,25
18,2022-11-21,Chrysler 300,None,1,NaN,146.97,280,25
19,2022-11-21,Chevrolet Impala,None,1,NaN,133.76,280,25
20,2022-11-21,Buick Regal,None,1,NaN,133.76,280,25
21,2022-11-21,Buick Regal,None,1,NaN,146.97,280,25
22,2022-11-21,Buick LaCrosse,None,1,NaN,133.76,280,25
23,2022-11-20,Wild Card,None,1,NaN,54.54,280,25
24,2022-11-20,Volkswagen Jetta,None,1,NaN,97.79,288,27
25,2022-11-20,Volkswagen Jetta,None,1,NaN,115.89,282,26
26,2022-11-20,Toyota RAV4,None,1,NaN,101.83,282,26
27,2022-11-20,Toyota RAV4,None,1,NaN,119.84,282,26
28,2022-11-20,Toyota Corolla,None,1,NaN,75.30,280,25
29,2022-11-20,Nissan Versa,None,1,NaN,109.46,288,27
30,2022-11-20,Nissan Sentra,None,1,NaN,75.30,280,25
31,2022-11-20,Nissan Sentra,None,1,NaN,88.52,288,27
32,2022-11-20,Nissan Rogue,None,1,NaN,132.55,282,26
33,2022-11-20,Nissan Quest,None,1,NaN,220.42,269,25
34,2022-11-20,Nissan Quest,None,1,NaN,246.85,269,25
35,2022-11-20,Nissan Pathfinder,None,1,NaN,126.30,282,26
36,2022-11-20,Nissan Maxima,None,1,NaN,155.52,282,26
37,2022-11-20,Nissan Maxima,None,1,NaN,142.67,282,26
38,2022-11-20,Nissan Frontier,None,1,NaN,125.62,288,27
39,2022-11-20,Nissan Armada,None,1,NaN,165.05,258,25
40,2022-11-20,Nissan Armada,None,1,NaN,166.36,258,25
41,2022-11-20,Nissan Altima,None,1,NaN,76.62,280,25
42,2022-11-20,Nissan Altima,None,1,NaN,89.84,280,25
43,2022-11-20,Mitsubishi Mirage,None,1,NaN,109.46,282,26
44,2022-11-20,Hyundai Santa Fe,None,1,NaN,139.07,282,26
45,2022-11-20,Hyundai Santa Fe,None,1,NaN,113.62,280,25
46,2022-11-20,Hyundai Elantra,None,1,NaN,114.62,282,26
47,2022-11-20,Hyundai Accent,None,1,NaN,70.01,280,25
48,2022-11-20,Hyundai Accent,None,1,NaN,83.22,280,25
49,2022-11-20,Ford Transit,None,1,NaN,230.91,187,17

In [ ]:
def rental_availability_API():
    # YOUR CODE HERE
    conn = db.connect('rentaldb')
    c = conn.cursor()
    query = f'''
        SELECT
            DISTINCT AllCarsAPI.Vehicle_Name, COUNT(AllCarsAPI.Vehicle_Name)
        FROM 
            AllCarsAPI
        GROUP BY 
            AllCarsAPI.Vehicle_Name
            '''
    availabilitydf = pd.read_sql_query(query, conn)
    return availabilitydf

In [ ]:
availabilitydf = rental_availability_API()
display(availabilitydf.head(50))

In [ ]:
def rental_availability_CSV():
    # YOUR CODE HERE
    conn = db.connect('rentaldb')
    c = conn.cursor()
    query = f'''
        SELECT
            DISTINCT Kaggle.Vehicle_Name, COUNT(Kaggle.Vehicle_Name)
        FROM 
            Kaggle
        GROUP BY 
            Kaggle.Vehicle_Name
            '''
    availabilitydf = pd.read_sql_query(query, conn)
    return availabilitydf

In [ ]:
availabilitydf = rental_availability_CSV()
display(availabilitydf.head(50))